:root{
  --main-bg: #121214;
  --color-text-primary: #E8E8EB;
  --color-text-muted: #A0A0AA;
  --sidebar-bg: #0A0A0C;
  --siderbar-width: 260px;
  
  [data-theme = "light"] {
  --main-bg: #FFFFFF;
  --sidebar-bg: #F3F3F4;
  --color-text-primary: #111111;
  --color-text-muted: #555555;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--main-bg);
  color: var(--color-text-primary);
}

#app{
  display: flex;
  height: 100vh;
}

.sidebar-open{
  background-color: var(--sidebar-bg);
  width: var(--siderbar-width);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.logo{
  margin-top: 5px;
}

.head-element{
  text-align: left;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--color-text-muted);
}

.elements{
   border: none;
   font-size: 1rem;
   background-color: var(--sidebar-bg);
   color: var(--color-text-primary);
   display: flex;
   justify-content: center;
   gap: 3px;
   text-align: center;
}

.create-btn{
  border: none;
  font-size: 1rem;
  background-color: var(--sidebar-bg);
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  gap: 3px;
}

.utility-btn{
  background-color: var(--main-bg);
  color: var(--color-text-primary);
  border: none;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-left: 10px;
}

.top-bar{
  display: flex;
  gap: 7px;
  margin-top: 4px;
  padding: 10px;
  align-items: center;
}

.search-tasks{
  width: 60vw;
  height: 33px;
  border-radius: 10px;
  border: 1px solid silver;
  background-color: var(--main-bg);
  padding: 12px;
  color: var(--color-text-primary)
}